.container-wrapper {
  display: inline-block;
}

.container {
  width: 380px;
  height: 110px;
  border: 1px solid rgb(213, 230, 218);
  border-bottom: none;
  padding: 20px;
  margin-right: 18px;
}
.document {
  margin-bottom: 5px;
}
.document span {
  position: relative;
  font-size: 17px;
  bottom: 5px;
}

.document p {
  position: relative;
  font-size: 18px;
  bottom: 4px;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.container2 {
  width: 380px;
  height: 230px;
  border: 0.5px solid rgb(213, 230, 218);
  padding: 0px 20px;
}
.container2 > img {
  width: 20px;
  background-color: black;
}

.container2 p:first-of-type {
  font-size: 18px;
}

.container2 > p:nth-child(2) {
  font-size: 24px;
  margin-bottom: 40px;
}

.container2 img {
  position: relative;
  width: 85px;
  height: 45px;
  right: 11px;
  margin-bottom: 20px;
}

.icon-wrapper img {
  position: relative;
  width: 20px;
  height: 20px;
  left: 11px;
  margin-right: 20px;
}
.span1 {
  position: relative;
  top: -48px;
  right: 20px;
  font-weight: 600;
}
.span2 {
  position: relative;
  right: 122px;
  color: rgb(151, 151, 150);
}
.container2 span {
  position: relative;
  bottom: 24px;
}

.icons {
  display: inline;
  margin-left: 179px;
}
