$box_border_color:#E2E6E7;
$bg_color1: #ffc12d;
$border_color1: #C89210;
$bg_color2: #A7EC2F;
$border_color2: #7BC200;
$bg_color3: #FEB1A4;
$border_color3: #F55C43;
$bg_color4: #85EBFA;
$border_color4: #47B4F6;
$bg_color5: #AACDF6 ;
$border_color5: #8781BD;
$title_color:#2C3E50;
$message_color:#2C3E50;
$icon-color1:#B9860A;
$icon-color2:#578C00;
$icon-color3:#D62E16;
$icon-color4:#0783C4;
$icon-color5:#5A5492;
