.container1 {
  background-color: black;
  width: 396px;
  height: 470px;
  grid-template-rows: repeat(30, 15.7px);
  grid-template-columns: repeat(24, 16.5px);
}
.container2 {
  grid-column: 2 / -2;
  grid-row: 2/-10;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}
.white {
  background-color: white;
}
.grid {
  display: grid;
}
.minicontainer1 {
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.minicontainer1 > div:last-child {
  grid-row: 2 /-1;
}
.container2 > div:last-child {
  background-color: red;
  grid-column: 2 /-1;
}
.container3 {
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column: 2/-2;
  grid-row: -9/-2;
}
.container3 > div:first-child {
  background-color: blue;
  grid-row: 1/-1;
  grid-column: 1/6;
}
.container3 > div:nth-child(2) {
  grid-area: 1/7/-1/-6;
}
.container3 > div:nth-child(3) {
  grid-area: 1/-5/4/-1;
}
.container3 > div:last-child {
  background-color: yellow;
  grid-area: 5/-5/-1/-1;
}
