$box_border_color:#E2E6E7;
$circle_color1: #ffc12d;
$border_color1: #f9b718;
$circle_color2: #97E411;
$border_color2: #7BC200;
$circle_color3: #FD7761;
$border_color3: #F55C43;
$circle_color4: #6FD9FC;
$border_color4: #47B4F6;
$circle_color5: #A39CDC;
$border_color5: #8781BD;
$title_color:#2c3e50;
$message_color:#a1b1bc;
