* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-wraper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-wraper .container {
  display: flex;
  flex-direction: column;
}
.container-wraper .container > p {
  color: #2c3e50;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  padding-left: 2px;
  margin-bottom: 50px;
}
.container-wraper .container > .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 572px);
  grid-template-rows: repeat(3, 150px);
  gap: 30px;
}
.container-wraper .container > .grid-container > .box {
  display: flex;
  border: 1px solid #e2e6e7;
  border-radius: 10px;
  column-gap: 29px;
  position: relative;
}
.container-wraper .container > .grid-container > .box > img {
  width: 10px;
  height: 17px;
  position: absolute;
  right: 17px;
  top: 14px;
}
.container-wraper .container > .grid-container > .box > .circle-container > .svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-wraper .container > .grid-container .text-container {
  display: flex;
  flex-direction: column;
  width: 398px;
}
.container-wraper .container > .grid-container .text-container > p:first-of-type {
  font-family: "Lato";
  font-weight: bolder;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding-top: 36px;
  margin-bottom: 13px;
}
.container-wraper .container > .grid-container .text-container > p:last-of-type {
  width: 359px;
  color: #a1b1bc;
  letter-spacing: -0.6px;
  font-family: 14px;
  line-height: 24px;
  font-family: "Lato";
}
.container-wraper .container > .grid-container .circle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 116px;
}
.container-wraper .container > .grid-container > .box:first-of-type > .circle-container > div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 7px solid #f9b718;
  background-color: #ffc12d;
}
.container-wraper .container > .grid-container > .box:first-of-type > .circle-container > div > svg {
  fill: #B9860A;
}
.container-wraper .container > .grid-container > .box:nth-of-type(2) > .circle-container > div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 7px solid #7BC200;
  background-color: #97E411;
}
.container-wraper .container > .grid-container > .box:nth-of-type(2) > .circle-container > div > svg {
  fill: #578C00;
}
.container-wraper .container > .grid-container > .box:nth-of-type(3) > .circle-container > div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 7px solid #F55C43;
  background-color: #FD7761;
}
.container-wraper .container > .grid-container > .box:nth-of-type(3) > .circle-container > div > svg {
  fill: #D62E16;
  width: 17px;
}
.container-wraper .container > .grid-container > .box:nth-of-type(4) > .circle-container > div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 7px solid #47B4F6;
  background-color: #6FD9FC;
}
.container-wraper .container > .grid-container > .box:nth-of-type(4) > .circle-container > div > svg {
  fill: #0783C4;
  height: 25px;
  width: 17px;
}
.container-wraper .container > .grid-container > .box:nth-of-type(5) {
  grid-column-start: span 2;
}
.container-wraper .container > .grid-container > .box:nth-of-type(5) > .text-container > p:last-of-type {
  width: 1000px;
}
.container-wraper .container > .grid-container > .box:nth-of-type(5) > .circle-container > div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 7px solid #8781BD;
  background-color: #A39CDC;
}
.container-wraper .container > .grid-container > .box:nth-of-type(5) > .circle-container > div > svg {
  fill: #5A5492;
}

/*# sourceMappingURL=index.css.map */
