.container {
  display: flex;
  background-color: black;
  width: 600px;
  height: 600px;
  gap: 2%;
}
.container1,
.container2,
.container3 {
  display: flex;
}
.container,
.container3 {
  flex-direction: column;
}
.container1 {
  flex-wrap: wrap;
  width: 100%;
  height: 65%;
  row-gap: 3%;
}
.container1,
.container2 {
  column-gap: 1.5%;
}
.white {
  background-color: white;
}
.large {
  height: 235px;
}
.red {
  height: 235px;
  background-color: red;
}
.red,
.row2col1 {
  width: 40%;
}
.row2col1 {
  height: 36%;
}
.row2col2,
.large {
  width: 58.5%;
}
.row2col2 {
  height: 36%;
}
.container2,
.yellow,
.big,
.container3 {
  height: 100%;
}
.container2 {
  height: 33%;
}
.yellow {
  background-color: yellow;
  width: 10%;
}
.big {
  width: 28.5%;
}
.container3 {
  width: 35%;
  row-gap: 5.5%;
}
.purple {
  background-color: rgb(46, 32, 97);
  width: 100%;
  height: 80%;
}
.little {
  width: 100%;
  height: 15.5%;
}
.high {
  width: 22%;
}
