.container{
    width: 940px;
    height: 1080px;
    display: grid;
    grid-template-rows: 220px 100px 220px 220px 220px;
    grid-template-columns: repeat(8, 100px);
    gap: 20px;

}
 .container div{
    background-color: rgb(225, 225, 225);
}
.medium{
    grid-column-start: span 2;
}
.small{
    background-color: rgb(225, 225, 225);
}
.large{
    grid-column-start: span 6;
}
.midsize{
    grid-column-start: span 4;
}
